
#heading-info {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content:space-evenly;
    padding-left: 70%;
    min-width: 400px;
    background-color:cornflowerblue;
    padding-top: 25px;
    padding-bottom: 25px;
}

#main-headline {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding-left: 30%;
    padding-right: 30%;
    min-width: 400px;
}

#second-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
    min-width: 400px;
}

body {
    margin: 0;
}

.first-section {
    display: flex;
    justify-content: space-evenly;
}

.card {
    display: flex;
    width: 400px;
    padding: 5px;
    border: 2px solid black;
}

.card-tekst {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.card-link {
    display: flex;
    gap: 5px;
}