
#heading-info {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content:space-evenly;
    padding-left: 70%;
    min-width: 400px;
    background-color:cornflowerblue;
    padding-top: 25px;
    padding-bottom: 25px;
}

#main-headline {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    padding-left: 30%;
    padding-right: 30%;
    min-width: 400px;
}

#second-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
    min-width: 400px;
}

body {
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 400px;
    padding-left: 30%;
    padding-right: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.conteiner {
    padding: 2px 16px;
}